.iframe{
    height:92vh;
    width:100vw;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.iframe-body{
    overflow: hidden !important;
}